@import 'tailwindcss';
@import '@fortawesome/fontawesome-free/css/all.min.css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-montserrat: "Montserrat", sans-serif;
    --font-nunito-sans: "Nunito Sans", sans-serif;

    --primary-blue: #43baff;
    --primary-dark-blue: #2d394b;
    --primary-indigo: #211e3b;
    --secondary-indigo: rgb(66, 62, 109);
    --primary-dark-indigo: #423e6d;
    --primary-gray: #6d6d6d;
    --secondary-gray: #eeeeee;
    --tertiary-gray: #ddd;
    --quaternary-gray: #b7b7b7;
    --quinary-gray: #252241;
    --senary-gray: #495057;

    --color-primary-blue: var(--primary-blue);
    --color-primary-dark-blue: var(--primary-dark-blue);
    --color-primary-indigo: var(--primary-indigo);
    --color-secondary-indigo: var(--secondary-indigo);
    --color-primary-dark-indigo: var(--primary-dark-indigo);
    --color-primary-gray: var(--primary-gray);
    --color-secondary-gray: var(--secondary-gray);
    --color-tertiary-gray: var(--tertiary-gray);
    --color-quaternary-gray: var(--quaternary-gray);
    --color-quinary-gray: var(--quinary-gray);
    --color-senary-gray: var(--senary-gray);
    --color-zinc-50: #fafafa;
    --color-zinc-100: #f5f5f5;
    --color-zinc-200: #e5e5e5;
    --color-zinc-300: #d4d4d4;
    --color-zinc-400: #a3a3a3;
    --color-zinc-500: #737373;
    --color-zinc-600: #525252;
    --color-zinc-700: #404040;
    --color-zinc-800: #262626;
    --color-zinc-900: #171717;
    --color-zinc-950: #0a0a0a;

    --color-accent: var(--color-neutral-800);
    --color-accent-content: var(--color-neutral-800);
    --color-accent-foreground: var(--color-white);
}

@layer theme {
    .dark {
        --color-accent: var(--color-white);
        --color-accent-content: var(--color-white);
        --color-accent-foreground: var(--color-neutral-800);
    }
}

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

[data-flux-field]:not(ui-radio, ui-checkbox) {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply !mb-0 !leading-tight;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply outline-hidden ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground;
}

/* \[:where(&)\]:size-4 {
    @apply size-4;
} */

@layer base {
    body {
        @apply font-montserrat text-sm bg-white;
    }
}

/* general animation */
.rotate {
    animation: rotate 20s linear infinite;
}
.top-bottom {
    animation: top-bottom 5s ease-in-out infinite;
}

@keyframes top-bottom {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
